@font-face {
  font-family: 'TT Hoves';
  src: url('Fonts/TTHoves-Medium.woff2') format('woff2'),
       url('Fonts/TTHoves-Medium.woff') format('woff'),
       url('Fonts/TTHoves-Medium.ttf') format('truetype'),
       url('Fonts/TTHoves-Medium.eot') format('eot');
}


  :root {
    --color-bg-default: #fffffe !important;
    --color-text-default: #222222 !important;
    --color-bg-orange: #ff4422 !important;
    --color-text-orange: #ff4422 !important;
    --color-pill-orange: #ff4422 !important;
    --color-text-default-light: #e5e4e2 !important;
    --color-ui-hover-bg: rgba(244, 244, 244, 0.8) !important;
  }


  body {
    font-family: 'TTHoves' sans-serif;
    font-weight: 400;

  }


.notion-navbar {
       /*display: none !important;*/
       background-color: rgba(255,255,255,0.8) !important;
       border-top: 0.16rem solid #ff4422 !important;
       padding: 2.4rem 1.6rem !important;
       box-shadow: none !important;
       backdrop-filter: saturate(180%) blur(2rem);
}


.super-content.max-width {
    max-width: 960px !important;
    margin: auto;
}

.notion-navbar__title {
   font-weight: 500 !important;
}


.notion-header__title {
    display: none !important;
}

h1.notion-heading {
    /*font-size: 2.4rem !important;*/
}


.link {
     border-bottom: 0.16rem solid #ff4422 !important;
}


.notion-search__input input {
     color: #fffffe !important;
}


.notion-page>div {
      display: none !important;
}


.notion-navbar>a:hover {
      background-color: #f4f4f4 !important;
}


.notion-divider {
      border-color: #f4f4f4 !important;
}


.notion-link:hover {
      color: #222222 !important;
      /*background-color: #ff4422 !important;*/
}


.notion-bookmark {
      border-radius: 0px !important;
      border-top: 0.16rem solid #ff4422 !important;
      background-color: #fffffe !important;
}


.notion-bookmark:hover {
     background-color: #f4f4f4 !important;
}


.notion-quote {
     background-color: #f4f4f4 !important;
     padding: 2rem !important;
     border-left: 0.16rem solid #ff4422 !important;
}
